#OS junk files
[Tt]humbs.db
*.DS_Store

#Visual Studio files
*.[Oo]bj
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.log
*.lib
*.sbr
*.sdf
*.opensdf
*.unsuccessfulbuild
ipch/
[Oo]bj/
[Bb]in
[Dd]ebug*/
[Dd]ebug
Ankh.NoLoad
*.vsmdi
applicationhost.config

#Tooling
_ReSharper*/
*.resharper
[Tt]est[Rr]esult*
*.sass-cache

#Subversion files
.svn

# Office Temp Files
~$*

#ncrunch
*ncrunch*
*crunch*.local.xml

#Test files
*.testsettings

#Build
out
out/*
WebPublish
WebPublish/*
BuildOutput
BuildOutput/*
.build/*
packages/*

#VS2015
.vs/*

# visual studio database projects
*.dbmdl
sql
*.dbmdl
Domain/Database/DomainStats/sql/debug/*
Domain/UpgradeLog.htm
Domain/UpgradeLog.XML
Domain/UpgradeLog2.htm
Domain/UpgradeLog2.XML
Domain/UpgradeLog3.htm
Domain/UpgradeLog3.XML
Domain/_UpgradeReport_Files/UpgradeReport.css
Domain/_UpgradeReport_Files/UpgradeReport.xslt
Domain/_UpgradeReport_Files/UpgradeReport_Error.png
Domain/_UpgradeReport_Files/UpgradeReport_Information.png
Domain/_UpgradeReport_Files/UpgradeReport_Success.png
Domain/_UpgradeReport_Files/UpgradeReport_Warning.png
Domain/Domain.Intranet/bulkmatchertemp/*
!Domain/Domain.Intranet/bulkmatchertemp/dummyfile.txt
Domain/Domain.eBrochure.Integration.Test/FakesAssemblies/*

#node dependencies
node_modules/
bower_components/

*.swp
*.*~
bin/
obj/
*/.vs/*
global.json 
